.idea
*.iml
ch12-RaspberryPi/Sample2/.gradle
ch12-RaspberryPi/Sample5/.gradle
ch12-RaspberryPi/Sample6/.gradle
ch12-RaspberryPi/Sample2/build
ch12-RaspberryPi/Sample3/target
ch12-RaspberryPi/Sample4/dist
ch12-RaspberryPi/Sample5/build
ch12-RaspberryPi/Sample6/build
ch12-RaspberryPi/Sample4/build
ch09-WebAndCloud/WeatherApp1/.gradle
ch09-WebAndCloud/WeatherApp1/build
ch09-WebAndCloud/WeatherApp2/.gradle
ch09-WebAndCloud/WeatherApp2/build
ch09-WebAndCloud/WeatherApp3/.gradle
ch09-WebAndCloud/WeatherApp3/build
ch08-3Dgraphics/earthsphere/target
ch08-3Dgraphics/fxyzdemo/target
ch08-3Dgraphics/hello3d/target
ch08-3Dgraphics/lightdemo/target
ch08-3Dgraphics/eventdemo/target
ch08-3Dgraphics/perspectivecamera/target
ch08-3Dgraphics/shapesandmesh/target
ch08-3Dgraphics/simplesphere/target
ch08-3Dgraphics/specularcolordemo/target
ch08-3Dgraphics/spherecylinderbox/target
ch12-RaspberryPi/Sample2/target
